<div class="card" style="width: 18rem;">
    <a href="/game/{{id}}">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <img src={{cover.url}} alt={{name}}" cover art">
            <p class="card-text">Release Date: {{release_dates.date}}
                    Synopsis: {{storyline}}

            </p>
                    
            <a href="#" class="btn btn-primary">Review</a>
        </div>
    </a> 
    </div>