<div class="col">
    <div class="card" style="width: 18rem;">
        <img src="//images.igdb.com/igdb/image/upload/t_cover_big/{{cover.image_id}}.jpg" class="card-img-top" alt="{{name}} cover art">
        <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <p class="card-text">Synopsis: {{summary}}<br>
                Release Date: {{format_date first_release_date}}<br>
                Platforms: {{#each platforms.name}}
                    <li>{{this}}</li>
                {{/each}}

            </p>          
            <a href="#" class="btn btn-primary">Review</a>
        </div> 
    </div>
</div>